<div class="row marketing">
  <h4>Let's play!</h4>

  Dices: 
  <div class="dice" ng-repeat="dice in dices track by $index">{{dice}}</div>
  <button class="btn btn-primary" ng-click="roll()">Roll Dices</button>

  <h4>Potential Scores</h4>
  <score-table dices=dices rules=rules></score-table>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Part 1 - Summary</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SUM</td>
        <td>{{ sumRules(rules, dices) }}</td>
      </tr>     
    </tbody>
  </table>

</div>
